.header{
    margin-top: 100px;
}
.equations{
    margin-top: 50px;
    font-size: 25px;
}
.equations1{
    font-size: 30px;
    font-weight: 500;
    color: green;
}
.button{
    margin-top: 30px;
}
.button Button{
    padding: 10px 50px;
}